@charset "utf-8";
/* CSS Document */

.bgblue {
	background-color: powderblue;
}
.btext {
	transition-duration: 100ms;	
	color:deepskyblue;
}
.btext:hover {
	transition-duration: 100ms;
	letter-spacing: 5px;
	color:orangered;
	text-shadow: 2px 2px 2px blue;
}

