@charset "utf-8";
/* CSS Document */
#logo {
	background-image: image("http://berdcloud.com/berd.jpg");
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
}
.bgblue {
	background-color: powderblue;
}
.btext {
	transition-duration: 100ms;	
	color:deepskyblue;
}
.btext:hover {
	transition-duration: 100ms;
	letter-spacing: 5px;
	color:orangered;
	text-shadow: 2px 2px 2px blue;
}
.defbutton {
	cursor: pointer;
}
.spin {
	transform: rotate(-70deg);
	color:coral;
	background-blend-mode: difference;
	background-color: darkmagenta;
	filter:blur(3px);
	transition-duration: 100ms;
	margin: auto;
	transition-timing-function: ease-in-out;
}
.spin:hover {
	transition-duration: 1000ms;
	filter:blur(0px);
	transform: scale(1) translate(0%, -25%) rotate(0deg);
}
.centerdiv {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}


body {
  color: #2e2e2e;
  font-family: sans-serif;
  font-size: 21px;
  text-align: justify;
  margin: 0 auto;
}
h1 {
  font-size: 40px;
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  margin-right: 20px;
}

button {
  height: 60px;
  outline: none;
  font-famiy: sans-serif;
  position: relative;
  padding: 10px;
  width: 120px;
  border: none;
  background-color: #fff;
  border: 2px solid #1b1b1b;
  color: #1b1b1b;
  transition: 500ms ease-in;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

button i {
  margin-left: 3px;
}

button:hover {
  color: #fff;
  background-color: #1b1b1b;
}

.container:first-child {
  height: 30vh !important;
}

@media screen and (max-width: 565px) {
  .container p {
    font-size: 17px;
  }
  div:first-child {
    height: 2vh;
  }
}

@media screen and (min-width: 565px) {
  body {
    text-align: center;
  }
}
