head {
  background-color: darkgreen;
  font-family: verdana;
  font-size: 300%;
}
h1 {
	transition-duration: 1000ms;
	color: black;
	letter-spacing: normal;
}
h1:hover {
	transition-duration: 500ms;
	color: red;
	letter-spacing: 5px;
}
.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.lpanel {
	/*background-color: powderblue;*/
	transition-duration: 400ms;
	background-image: url("image/space.png");
	background-blend-mode: overlay;
	padding: 5px 5px;
	align: center;
	color: black;
	font-weight:normal;
	opacity: 0.5;
	font-size: 15;
	display: flex;
	
	flex-direction: column;
	
}
.lpanel:hover {
	transition-duration: 400ms;
	/*background-color: powderblue;*/
	background-image: url("image/space.png");
	background-blend-mode: normal;
	mix-blend-mode: luminosity;
	/*padding: 36px 64px;*/
	padding: inherit 25px;
	align: center;
	color: white;
	opacity: 1;
	font-weight: 600;
	font-size: 30px;
	background-origin: padding-box;
	background-position: center;
	background-size: contain;
	display: flex;
	flex-direction: column;
}
.burn {
	/*background-color: powderblue;*/
	transition-duration: 400ms;
	background-image: url("image/burn.gif");
	background-blend-mode: overlay;
	padding: 5px inherit;
	align: center;
	color: black;
	font-weight:normal;
	opacity: 0.5;
	font-size: 10;
	
}
.burn:hover {
	transition-duration: 900ms;
	/*background-color: powderblue;*/
	background-image: url("image/burn.gif");
	background-blend-mode: normal;
	mix-blend-mode: normal;
	/*padding: 36px 64px;*/
	background-position: center;
	background-size:cover;
	padding: 18px inherit;
	align: center;
	color: maroon;
	opacity: 1;
	font-weight: 600;
	font-size: 20px;
	text-shadow: 1px 1px 8px red;
}
.life {
	/*background-color: powderblue;*/
	transition-duration: 600ms;
	background-image: url("image/life.gif");
	background-blend-mode: overlay;
	padding: 5px inherit;
	align: center;
	color: black;
	font-weight:normal;
	opacity: 0.5;
	font-size: 10;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
	
}
.life:hover {
	transition-duration: 300ms;
	/*background-color: powderblue;*/
	background-image: url("image/life.gif");
	background-blend-mode: normal;
	mix-blend-mode: normal;
	width: inherit;
	/*padding: 36px 64px;*/
	background-position: center;
	background-size:cover;
	padding: 18px inherit;
	align: center;
	color: white;
	opacity: 1;
	font-weight: 600;
	font-size: 20px;
	text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.9);
}
.nuke {
	/*background-color: powderblue;*/
	transition-duration: 600ms;
	background-image: url("image/nuke.gif");
	background-blend-mode: overlay;
	padding: 5px inherit;
	align: center;
	color: black;
	font-weight:normal;
	opacity: 0.5;
	font-size: 10;
	text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.9);
	
}
.nuke:hover {
	transition-duration: 600ms;
	/*background-color: powderblue;*/
	background-image: url("image/nuke.gif");
	background-blend-mode: normal;
	mix-blend-mode: normal;
	/*padding: 36px 64px;*/
	background-position: center;
	background-size:cover;
	padding: 18px;
	align: center;
	color: palegreen;
	opacity: 1;
	font-weight: 600;
	font-size: 30px;
	text-shadow: 1px 1px 8px rgba(90, 255, 120, 1);
	
}
.sauce {
	/*background-color: powderblue;*/
	transition-duration: 600ms;
	background-image: url("image/vsauce.gif");
	background-blend-mode: overlay;
	padding: 5px inherit;
	align: center;
	color: black;
	font-weight:normal;
	opacity: 0.5;
	font-size: 10;
	text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.9);
	
}
.sauce:hover {
	transition-duration: 300ms;
	/*background-color: powderblue;*/
	background-image: url("image/vsauce.gif");
	background-blend-mode: normal;
	mix-blend-mode: normal;
	/*padding: 36px 64px;*/
	background-position: center;
	background-size:cover;
	padding: 18px;
	align: center;
	color: green;
	opacity: 1;
	width: inherit;
	font-weight: 600;
	font-size: 30px;
	text-shadow: 1px 1px 8px green;
	
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
p {
  color: red;
  font-family: courier;
  font-size: 160%;
}